.browse, .post {
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #10375C;
    border-color: #10375C;
}

.browsePost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}