.fileInput {
    margin-top: 100px;
    width: 70%;
}

.form {
    width : 60%;
}

.postmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 50px;
}

.form-group {
    margin-top: 20px
}

.postbutton {
    margin-bottom: 40px;
}